@mixin flexMix($justify: center, $align: center, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin fontStyle($size: 16px, $color: black, $family: 'Montserrat') {
    font-size: $size;
    color: $color;
    font-family: $family;    
}