@import './mixins.scss';

.body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    width: 100%;
    height: 770px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    @include flexMix;

    &__info {
        @include flexMix($direction: column);

        &-title {
            @include fontStyle(48px, white);
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 33px;

            &_small {//модификатор, в котром переопределяются некоторые свойства основного класса
                @include fontStyle(20px, white, 'Roboto Slab');
                text-transform: capitalize;
                margin-bottom: 53px;
            }
        }
    }
}

.header {
    @include flexMix(space-between);
    padding-top: 40px;
    width: 1140px;
    margin: 0 auto;//выравнивание по центру
    position: absolute;
    top: 0;

    &__logo {
        @include fontStyle(24px, white);
        font-weight: 700;
    }

    &__links {

        &-item {
            text-decoration: none;
            @include fontStyle(14px, white);
            margin-right: 35px;
        
            &:last-child {
            margin-right: 0;
            }

            &:hover {
            text-decoration: none;
            color: white;
            }
        }
    }
    
    @media screen and (max-width: 1140px) {
        width: 100%;
        padding: 0 15px;
        padding-top: 20px;
    }    
}

.button {
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    background-color: transparent;
    @include fontStyle($color: white);
    font-weight: 400;
    padding: 18px 45px;
    box-sizing: border-box;
}

.services {
    padding: 100px 0;
    box-sizing: border-box;

    .card {
        border: none;
        @include flexMix($direction: column);
        margin-top: 70px;

        img {
            width: 85px;
            height: 85px;
            margin-bottom: 30px;
        }

        &__title {
            @include fontStyle(14px, #555555)
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 25px;
        }

        &__text {
            @include fontStyle(14px, #555555, 'Roboto Slab');
            font-weight: 400;
            text-align: center;
        }
    }
}

.title {
    @include fontStyle(20px, #555555);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 62px;
    position: relative;
    text-align: center;

    &::after {
        content: '';
        position: absolute;
        left: calc(50% - 25px);
        bottom: -32px;
        height: 2px;
        width: 50px;
        background: #555555;
    }
}

.subtitle {
    @include fontStyle($color: #555555, $family: 'Roboto Slab');
    font-weight: 400;
    text-align: center;
}

.about {
    padding: 100px 0;
    box-sizing: border-box;
    background: #f8f8f8;

    &__text {
        @include fontStyle(14px, #555555, 'Roboto Slab');
        font-weight: 400;
        margin-top: 70px;
        text-align: justify;

        @media screen and (max-width: 1199px) {
            margin-top: 30px;
        }
    }

    .card {
        width: 100%;
        @include flexMix(center, center, column);
        border: none;
        background: transparent;
        margin-top: 70px;
        cursor: pointer;
        position: relative;

        .slider-btn {
            width: 36px;
            height: 38px;
            background: rgba(0, 0, 0, .3);
            @include flexMix;
            cursor: pointer;
            @include fontStyle(25px, white, 'Roboto Slab');
            font-weight: 200;
            position: absolute;
            top: 106px;

            &:hover {
                background: #c0301c;
            }

            &--left {
                left: 0;
            }

            &--right {
                right: 0;
            }
        }

        &:hover > .card__avatar > .card__avatar-social {
            opacity: 1;
        }


        @media screen and (max-width: 1199px) {
            margin-top: 20px;
        }

        &__avatar {
            width: 100%;
            height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &--khalil {
                background-image: url(../images/people1.jpg);
            }

            &--rubel {
                background-image: url(../images/people2.jpg);
            }

            &--shamim {
                background-image: url(../images/people3.jpg);
            }

            &--john {
                background-image: url(../images/people4.jpg);
            }

            &-social {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3);
                box-sizing: border-box;
                padding-bottom: 30px;
                @include flexMix($align: flex-end);
                opacity: 0;
                transition: .5s;

                .group {
                    @include flexMix;

                    &__item {
                        width: 28px;
                        height: 28px;
                        @include flexMix;
                        cursor: pointer;
                        transition: .5s;

                        &:hover {
                            background: #c0301c;
                        }
                    }
                }
            }
        }

        &__description {
            width: 100%;
            @include flexMix(center, center, column);

            &-name {
                margin: 22px 0 18px 0;
                text-transform: uppercase;
                @include fontStyle(14px, #555555, 'Montserrat');
                font-weight: 400;
            }

            &-role {
                @include fontStyle(13px, #555555, 'Roboto Slab');
                font-weight: 400;
            }
        }
    }
}

//нажать плюс в ветке staged changes, для добавления новых файлов в изменения
//git stash
//git checkout -b name
//git stash apply
//slick js